@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  /* font-family: "Ubuntu", sans-serif; */
  color: #e0e0e0;
}

html,
body {
  background-image: url(/img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  padding: 2rem 6rem;
  background-color: #95022b;
  border-bottom: 3px solid #e0e0e0;
}

header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .flex .icon {
  background-color: #e0e0e0;
  padding: 1.5rem 1rem;
  border-radius: 100%;
}

header menu {
  font-size: 1rem;
  text-decoration: none;
}

header menu #menu-links {
  text-decoration: none;
  color: #e0e0e0
}

header menu #menu-links:hover {
  text-decoration: none;
  color: #212529;
}

header .nes-select.is-dark {
  width: 20%;
}

main {
  padding: 4rem 6rem;
}

main #about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main #about .about-text {
  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(5px);
  margin: 2rem 6rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

main #about .about-text img {
  width: 15%;
  margin: 1rem;
}

main #about aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

main #about aside h1 {
  font-size: 1.5rem;
  color: #ef233c;
  text-shadow: 2px 2px 1px #e0e0e0;
}

main #about aside h2 {
  font-size: 1rem;
}

main #about aside #avatar {
  border-radius: 100%;
  width: 70%;
  margin: 30px;
}

main #about aside .links {
  white-space: nowrap;
  margin: 30px;
  padding-bottom: 20px;
}

main #about aside p {
  color: #424242;
}

main #about aside .container {
  padding: 2rem;
}

main #about article h3 {
  color: #ef233c;
}
