@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  /* font-family: "Ubuntu", sans-serif; */
  color: #e0e0e0;
}

html,
body {
  background-image: url(/img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 4rem 6rem;
}

main #about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main #about .about-text {
  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(5px);
  margin: 2rem 6rem;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

main #about .about-text img {
  width: 15%;
  margin: 1rem;
}

main #about aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main #about aside h1 {
  font-size: 1.5rem;
  color: #91162a;
  text-shadow: 2px 2px 1px #e0e0e0;
}

main #about aside h2 {
  font-size: 1rem;
}

main #about aside #avatar {
  border-radius: 100%;
  width: 100%;
}

main #about aside .links {
  white-space: nowrap;
  margin: 30px;
}

main #about aside p {
  color: #424242;
}

main #about aside .container {
  padding: 2rem;
}

main #about article h3 {
  color: #91162a;
}
